# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
/prisma/migrations
!/prisma/schema.prisma
*.db
prisma/dev.db
/prisma/*.db
/prisma/*.db-journal

dev.db